*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:#2f2c3a;
    color:blanchedalmond;
}

 .container {
            margin-top: 30px;
        }

        /* ✅ ONLY FIX (carousel images) */
        .carousel-item img {
            height: 300px;
            width: 100%;
            object-fit: contain;
            background-color: #4e4949;
        }




.navbar{
    background-color: #2e303a;
}

.collapse{
    display: flex;
    flex-direction: row-reverse;

}

.btn{
    background-color:rgb(7, 7, 24);
}


.card{
    background-color: rgb(174, 175, 184);
}

.card-title{
    font-size: 2rem;;
}